$color-accent: #0074D9;
$color-light: #F7F9FA;
$color-mid: #9DA5B1;
$color-dark: #1E2939;

// $colorGray1: #1E2939;
// $colorGray2: #3C495C;
// $colorGray3: #626E80;
// $colorGray4: #9DA5B1;
// $colorGray5: #D4D9DF;
// $colorGray6: #F7F9FA;

$font-size-base: 18px;
$font-family-base: "open sans", "helvetica neue", helvetica, arial, sans-serif;
$font-family-mono: "source code pro", monospace;

$width-nav: 4em;

@mixin selected-nav-item {
  background-color: lighten($color-mid, 15%);

  &:hover {
    background-color: $color-light;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  padding-bottom: 0.5em;
}

p {
  padding-bottom: 1.5em;
}

a {
  color: $color-dark;

  &:hover {
    color: $color-accent;
  }
}

dl {
  margin-bottom: 1em;
}

dt,
label {
  font-size: 0.6em;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-weight: bold;
}

button {
  background-color: transparent;
  border-radius: 3px;
  border: 2px solid $color-dark;
  color: $color-dark;
  cursor: pointer;
  font-size: 1em;
  line-height: 2;
  padding: 0 1em;

  &:hover {
    background-color: $color-dark;
    color: $color-light;
  }

  .is-editing & {
    border-color: $color-light;
    color: $color-light;

    &:hover {
      background-color: $color-light;
      color: $color-dark;
    }
  }

  &.small {
    font-size: 0.75em;
  }
}

::-moz-selection {
  background-color: $color-accent;
  color: white;
}

::selection {
  background-color: $color-accent;
  color: white;
}

.wrapper {
  background-color: $color-light;
  color: $color-dark;
  display: flex;
  height: 100vh;
  overflow: hidden;
  width: 100vw;

  &.is-editing {
    background-color: $color-dark;
    color: $color-light;
    font-family: $font-family-mono;
  }
}

.nav {
  bottom: 0;
  padding: 1em;
  position: fixed;
  top: 0;

  &.right {
    right: 0;
  }

  &.left {
    left: 0;
  }
}

.nav__item {
  background-color: darken($color-light, 5%);
  border-radius: $width-nav / 2;
  cursor: pointer;
  display: block;
  font-weight: bold;
  height: 2em;
  line-height: 2;
  margin-bottom: 0.5em;
  text-align: center;
  user-select: none;
  width: 2em;

  &:hover {
    background-color: darken($color-light, 15%);
    color: $color-light;
  }

  &.is-selected {
    background-color: darken($color-light, 15%);

    &:hover {
      background-color: $color-mid;
    }
  }

  .is-editing & {
    background-color: lighten($color-dark, 5%);
    color: $color-dark;

    &:hover {
      background-color: lighten($color-dark, 15%);
      color: $color-dark;
    }

    &.is-selected {
      @include selected-nav-item;
    }
  }
}

.nav__item__icon {
  height: 1em;
  margin-top: 0.5em;
  fill: $color-light;

  .is-editing &,
  .is-editing .is-selected & {
    fill: $color-dark;
  }
}

.edit-toggle {
  .is-editing & {
    @include selected-nav-item;
  }
}

.panel,
.note {
  overflow-x: hidden;
  overflow-y: scroll;
}

.panel {
  flex: 1;
  padding: 1em 0;
  font-family: $font-family-base;

  &.left {
    padding-left: $width-nav;
  }

  &.right {
    padding-right: $width-nav;
    color: darken($color-light, 50%);
    text-align: right;

    .is-editing & {
      color: $color-mid;
    }
  }
}

.panel__thumbnail {
  border: 2px solid transparent;
  color: darken($color-light, 25%);
  cursor: pointer;
  overflow: hidden;
  padding: 0.5em;
  position: relative;
  height: 5em;

  &::after {
    background-image: linear-gradient(to bottom, rgba($color-light, 0), $color-light);
    bottom: 0;
    content: "";
    height: 3em;
    left: 0;
    position: absolute;
    width: 100%;
  }

  &:hover,
  &.is-selected {
    color: $color-dark;
  }

  .is-editing & {
    color: lighten($color-dark, 20%);

    &::after {
      background-image: linear-gradient(to bottom, rgba($color-dark, 0), $color-dark);
    }

    &:hover,
    &.is-selected {
      color: $color-light;
    }
  }

  small {
    max-height: 4.25em;
    overflow: hidden;
    display: inline-block;
  }

  &.is-selected + .panel__thumbnail {
    border-top-color: transparent;
  }

  &.is-selected {
    border: 2px solid lighten($color-dark, 25%);
    border-radius: 3px;
  }
}

.tag {

}

.note {
  flex: 3;
  padding: 1em $width-nav;
}

.note__content {
  box-sizing: content-box;
  margin: 0 auto;
  max-width: 53em;
}

textarea {
  appearance: none;
  background-color: transparent;
  border: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  height: 100vh;
  line-height: 1.5;
  resize: none;
  white-space: pre-wrap;
  width: 100%;

  &:focus {
    outline: none;
  }
}
