$color-gray-light: #f7f7f7;
$color-gray-mid: #999;
$color-gray-dark: #444;
$color-accent: #0074D9;

$font-size-base: 18px;
$font-family-base: "helvetica neue", helvetica, arial, sans-serif;
$font-family-mono: "input mono", monospace;

$width-sidebar: 4em;

@mixin selected-nav-item {
  background-color: darken($color-gray-light, 15%);

  &:hover {
    background-color: $color-gray-light;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  padding-bottom: 0.5em;
}

p {
  padding-bottom: 1em;
}

a {
  color: $color-gray-dark;

  &:hover {
    color: $color-accent;
  }
}

.wrapper {
  background-color: $color-gray-light;
  color: $color-gray-dark;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  display: flex;

  &.is-editing {
    background-color: $color-gray-dark;
    color: $color-gray-light;
    font-family: $font-family-mono;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 1em;

  &.right {
    right: 0;
  }

  &.left {
    left: 0;
  }
}

.nav__item {
  display: block;
  height: 2em;
  width: 2em;
  border-radius: $width-sidebar / 2;
  background-color: darken($color-gray-light, 5%);
  line-height: 2;
  color: $color-gray-light;
  text-align: center;
  margin-bottom: 0.5em;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: darken($color-gray-light, 15%);
    color: $color-gray-light;
  }

  &.is-selected {
    background-color: darken($color-gray-light, 15%);

    &:hover {
      background-color: $color-gray-mid;
    }
  }

  .is-editing & {
    background-color: lighten($color-gray-dark, 5%);
    color: $color-gray-dark;

    &:hover {
      background-color: lighten($color-gray-dark, 15%);
      color: $color-gray-dark;
    }

    &.is-selected {
      @include selected-nav-item;
    }
  }
}

.edit-toggle {
  .is-editing & {
    @include selected-nav-item;
  }
}

.panel,
.note {
  overflow-x: hidden;
  overflow-y: scroll;
}

.panel {
  flex: 1;
  padding: 1em 1em 1em $width-sidebar;
  background-color: darken($color-gray-light, 5%);
}

.panel__thumbnail {
  background-color: $color-gray-light;
  color: $color-gray-mid;
  padding: 0.5em 1em 0.25em;
  margin-bottom: 0.5em;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 3px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    background-image: linear-gradient(to bottom, rgba($color-gray-light, 0), $color-gray-light);
    height: 2em;
  }

  &:hover {
    color: $color-gray-dark;
  }

  &.is-selected {
    border-color: $color-gray-mid;
    color: $color-gray-dark;
  }

  small {
    max-height: 4.25em;
    overflow: hidden;
    display: inline-block;
  }
}

.note {
  flex: 3;
  padding: 1em $width-sidebar;
}

.note__content {
  box-sizing: content-box;
  margin: 0 auto;
  max-width: 50em;
  padding-right: $width-sidebar;
}

textarea {
  appearance: none;
  background-color: transparent;
  border: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  height: 100vh;
  line-height: 1.5;
  width: 100%;
  white-space: pre-wrap;
  resize: none;

  &:focus {
    outline: none;
  }
}
